<h2>My Heroes</h2><button class="btn btn-outline-warning" (click)="shuffle()">Shuffle</button>
<ul class="heroes list-group">
  <li class="list-group-item list-group-item-light" *ngFor="let hero of heroes">
    <div class="btn-group">
      <a class="btn btn-sm btn-outline-info d-inline-flex align-items-center" routerLink="/detail/{{hero.id}}">
        <span class="badge badge-light badge-pill">{{hero.id}}</span>
        <span>{{hero.name}}</span>
      </a>
      <button class="btn btn-dark" title="delete hero" (click)="delete(hero)">╳</button>
    </div>
  </li>
</ul>
<div class="row">
  <div class="col-6">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text">Hero name:</label>
      </div>
      <input id="heroname" class="form-control" #heroName />
      <div class="input-group-append">
        <!-- (click) passes input value to add() and then clears the input -->
        <button class="btn btn-sm btn-outline-success" (click)="add(heroName.value); heroName.value=''">
          add
        </button>
      </div>
    </div>
  </div>
</div>
