/* HeroesComponent's private CSS styles */

.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

li {
    div {
        width: 100%;
    }
    >a {
        text-align: start;
        text-decoration: none;
        transition: transform linear .35s;
        transform-origin: left; //margin: .5em;
        &:hover {
            transform: scale(1.05);
        }
    }
}

.btn-group {
    >a {
        flex: 1 1 auto;
        >.badge {
            top: 0;
        }
    }
}
