<div id="search-component">
  <h4>Hero Search</h4>
  <span id="plus" class="badge round badge-success px-3 py-1">+1</span>
  <span id="minus" class="badge round badge-danger px-3 py-1">-1</span>
  <span id="counter" class="badge badge-info px-3 py-1" [innerText]="counter || 0"></span>
  <input class="form-control" #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  <ul class="search-result">
    <li *ngFor="let hero of heroes$ | async">
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>
