<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div>
    <span>id: </span>{{hero.id}}</div>
  <div>
    <div class="row">
      <div class="col-4">
        <div class="input-group">
          <input class="form-control" [(ngModel)]="hero.name" placeholder="name">
          <div class="input-group-append">
              <button class="btn btn-dark" (click)="goBack()">go back</button>
              <button class="btn btn-primary" (click)="save()">save</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
