<div class="container">
    <h1>{{title}}</h1>
    <nav>
      <a class="text-success" routerLink="/dashboard">Dashboard</a>
      <a class="text-primary" routerLink="/heroes">Heroes</a>
      <a class="text-info" routerLink="/canvas">Canvas</a>
    </nav>
    <hr>
    <router-outlet></router-outlet>
    <app-messages></app-messages>
</div>
