<h3>Top Heroes</h3>
<br>
<div class="justify-content-between">
  <div class="row hero-list">
    <a *ngFor="let hero of heroes" class="col-12 col-sm-6 col-md" routerLink="/detail/{{hero.id}}">
      <div class="module hero  border border-danger rounded">
        <h4>{{hero.name}}</h4>
      </div>
    </a>
  </div>
</div>
<br>
<app-hero-search></app-hero-search>
